.posts__wrapper {
  transition: 0.4s opacity;
  border-radius: 3px;
  padding: 25px;
}

.posts__wrapper:hover {
  opacity: 0.6;
}

.posts__exerpt {
  line-height: 1.5;
  font-size: 16px;
  margin: 16px 0px;
}

.light .posts__exerpt {
  color: var(--light-textColor);
}
.dark .posts__exerpt {
  color: var(--dark-textColor);
}

.posts__title {
  margin: 0;
}

.posts__date {
  font-size: 14px;
  text-align: right;
  min-width: 120px;
}

.posts__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.light .posts__header {
  color: var(--light-textColor);
}
.dark .posts__header {
  color: var(--dark-textColor);
}
